[submodule "DHT11_Sensor_for_ATmega328p"]
	path = DHT11_Sensor_for_ATmega328p
	url = https://github.com/zuka011/DHT11_Sensor_for_ATmega328p
	branch = master
[submodule "7_Segment_Display_for_ATmega328p"]
	path = 7_Segment_Display_for_ATmega328p
	url = https://github.com/zuka011/7_Segment_Display_for_ATmega328p
	branch = master
[submodule "Rotary_Encoder_for_ATmega328p"]
	path = Rotary_Encoder_for_ATmega328p
	url = https://github.com/zuka011/Rotary_Encoder_for_ATmega328p
	branch = master
[submodule "Buzzer_for_ATmega328p"]
	path = Buzzer_for_ATmega328p
	url = https://github.com/zuka011/Buzzer_for_ATmega328p
	branch = master
[submodule "Servo_Motor_for_ATmega328p"]
	path = Servo_Motor_for_ATmega328p
	url = https://github.com/zuka011/Servo_Motor_for_ATmega328p
	branch = master
[submodule "Stepper_Motor_for_ATmega328p"]
	path = Stepper_Motor_for_ATmega328p
	url = https://github.com/zuka011/Stepper_Motor_for_ATmega328p
	branch = master
[submodule "Timer_Interrupts_for_ATmega328p"]
	path = Timer_Interrupts_for_ATmega328p
	url = https://github.com/zuka011/Timer_Interrupts_for_ATmega328p
	branch = master
